layout: index
description: "The YAP Centre For Blockchain Studies(Dubai) is a think tank and research center which investigates implications of blockchain technology for companies and their business models."
subtitle: "YAP Centre For Blockchain Studies"
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Our Vision:
      p.intro-feature-desc The YAP Centre For Blockchain Studies(Dubai) is a center of excellence aiming to be the globally leading institution that understands, creates, and realizes blockchain-based solutions in a cross-industry and cross-disciplinary private-public partnership, generating value for current and future generations, exploring the challenges of the future, and converting them into opportunities for sustainable development.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Our Mission:
      p.intro-feature-desc The YAP Centre For Blockchain Studies(Dubai) is a think tank and research center which investigates implications of blockchain technology for companies and their business models. Besides the development of prototypes, it serves as a platform for managers, start-ups, technology, government,and industry experts to share knowledge and best practices. YAP Centre also provides new research impulses and develops trainings for students and executives. It seeks to position Dubai as the leading knowledge and research hub in the field of blockchain.
